<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <root>
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="!dev">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <springProperty scope="context" name="microservice" source="spring.application.name"/>
        <springProperty scope="context" name="appVersion" source="application.version"/>
        <conversionRule conversionWord="arguments" converterClass="com.elk.config.ArgumentsConverter"/>
        <!--<appender name="LOGSTASH1" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>logstash:5000</destination>-->
        <appender name="LOGSTASH" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <!--<version/>-->
                    <message/>
                    <loggerName/>
                    <!--<threadName/>-->
                    <logLevel/>
                    <!--<mdc/>-->
                    <!--<arguments/>-->
                    <pattern>
                        <pattern>
                            {
                            "service": "${microservice:-}",
                            "traceId": "%mdc{traceId}",
                            "spanId": "%mdc{spanId}",
                            "arguments": "%arguments"
                            }
                        </pattern>
                        <omitEmptyFields>true</omitEmptyFields>
                    </pattern>
                    <logstashMarkers/>
                </providers>
            </encoder>
        </appender>
        <root additivity="false">
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>